# MacOS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Virtual environments
.env
.venv/
env/
venv/

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/
*.code-workspace

# Logs
*.log

# Otros
*.sqlite3
